.loader {
  align-items: center;
  display: none;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  img {
    height: 70px;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  
  @include tablet {
    flex-flow: row wrap;
  }

  @include desktop {
    flex-flow: row wrap;
  }
}

.news-list {
  font-size: 0.9rem;
  height: 400px;
  overflow: hidden;
  position: relative;

  @include tablet {
    flex: 0 1 33.33%;
    &:hover {
      .articles-text {
        bottom: 0;
        transition: all .5s ease;
      }
    }
  }

  @include desktop {
    flex: 0 1 25%;
  }
  
  div {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;

    @include tablet {
      height: 100%;
    }
    
    @include desktop {
      height: 100%;
    }

    a {
    color: #fff;
      text-decoration: none;
    }
  }

  .articles-text {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    transition: all 1s ease;

    @include tablet {
      bottom: -200px;
    }
  }
}