.site-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  height: 90%;
  width: 100%;
  transition: all 1s ease;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    justify-content: flex-start;
    padding-left: 20px;
  }

}

.site-header-small {
  height: 40%;
  
  @include tablet {
    height: 17%;
  }

}

.logo {
  height: auto;
  max-width: 100%;

  .logo-nyt {
    transition: all 5s ease;
  }

.nyt-logo-small {
  height: 150px;
    @include tablet {
      height: 90px;
    }
  }
}

.search {
  text-align: center;
  // width: 300px;

  @include tablet {
    text-align: left;
    margin-left: 10px;
  }
  
}

select {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-family: 'open_sans';
  font-size: .9rem;
  margin-top: 1rem;
  padding: 5px;
  width: 200px;
}