.site-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: .9rem;
  height: 90%;
  transition: all 1s ease;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    justify-content: flex-start;
    padding-left: 20px;
  }

}

.site-header-small {
  height: 40%;
  
  @include tablet {
    height: 17%;
  }

}

.logo {
  height: auto;
  max-width: 100%;

  .nyt-logo-small {
    height: 150px;
      @include tablet {
        height: 90px;
    }
  }
}

.search {
  text-align: center;

  @include tablet {
    margin-left: 10px;
    text-align: left;
  }
  p {
    margin-top: 10px;
  }

}

.selectric {
  background: #3A3E4E;
  border-radius: 0;
  margin-top: 1rem;
  width: 150px;
  .label {
    text-align: left;
  }
}

.selectric-items {
  text-align: left;
  border: none;
}